name: docker

on:
  push:
    branches: [ "*" ]

permissions:
  contents: write

jobs:
  docker:
    name: Docker
    runs-on: 8CoreUbuntu
    environment:
      name: Docker Hub
      url: https://hub.docker.com/r/intergral/grafana
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: |
            BINGO=false
            COMMIT_SHA=${{ github.sha }}
            BUILD_BRANCH=main
          push: true
          tags: intergral/grafana:${{ github.ref_name }}
