name: Build & Test Go

on:
  push:
    branches: [ "*" ]


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x

      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup go-junit-report
        run: go install github.com/jstemmer/go-junit-report/v2@latest

      - name: Build
        run: make gen-go

      - name: Test
        run: make test-go

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x

      - name: Check out code
        uses: actions/checkout@v4

      - name: Mod Download
        run: go mod download

      - name: Build
        run: make build-go

  lint:
    name: Lint & Format
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build
        run: make gen-go

      - run: make lint-go
