name: Build & Test UI

on:
  push:
    branches: [ "*" ]


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:

      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"

      - name: Check dependencies
        run: |
          yarn install --immutable

      - name: Test
        run: yarn test:coverage

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"

      - name: Check dependencies
        run: |
          yarn install --immutable

      - name: Build
        run: yarn build

  lint:
    name: Lint & Format
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"

      - name: Check dependencies
        run: |
          yarn install --immutable

      - name: Lint
        run: yarn lint
